<h1>Your SCORE!</h1>

<h3><%= @result[:message] %></h3>
<h3>Your score is: <%= @result[:score] %></h3>
<h3>You took <%= @result[:time] %> seconds.</h3>

<p>The result is calculated based on the amount of time you took and the complexity of your word in terms of length</p>

<a href="/game">PLAY AGAIN</a>
